composer.lock
/vendor
# For various tools
.php_cs.cache
.buildpath
.DS_Store
.*.sw*
.*.un~
.project
.settings/
.idea
# For PHPUnit
/build
/phpunit*.xml
# For Tests
/tests/output/*
!/tests/output/.gitkeep
# For Travis
infection-log.txt
.travis/ffmpeg-release-64bit-static
.travis/downloads

