includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	fileExtensions:
		- php
		- dist
	excludes_analyse:
	    # Because I could not find a way to make phpstan not report
	    # errors when trying to produce them, understand who understand
		- tests/unit/Video/Filter/VideoFilterChainTest.php
		- tests/unit/Video/Adapter/FFMpegAdapterTest.php
		- tests/unit/Video/VideoConverterTest.php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
	    # With PHPStan 0.10 .... don't like this one so much
		- '#Strict comparison using !== between null and null will always evaluate to false.#'
		- '#Instanceof between(.*)VideoFilterInterface and (.*)VideoFilterInterface will(.*)evaluate to true.#'
		# For convenience whe faking assertions
		- '#Call to static method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true.#'



