includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	fileExtensions:
		- php
		- dist
	excludes_analyse:
		#- */tests/server/expressive/*
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
	    # With PHPStan 0.10 .... don't like this one so much
		- '#Strict comparison using !== between null and null will always evaluate to false.#'


