:root {
    --mermaid-font-family: 'IBM Plex Sans', Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

text.actor {
    font-family: 'IBM Plex Sans', Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.actor-line {
    stroke: grey;
}

.messageText {
    font-family: 'IBM Plex Sans', Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.labelText {
    font-family: 'IBM Plex Sans', Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.loopText {
    font-family: 'IBM Plex Sans', Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

text.noteText {
    font-family: 'IBM Plex Sans', Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
