:root {

  /* Default color shades */
  --md-default-fg-color: hsla(0, 0%, 0%, 0.87);
  --md-default-fg-color--light: hsla(0, 0%, 0%, 0.54);
  --md-default-fg-color--lighter: hsla(0, 0%, 0%, 0.26);
  --md-default-fg-color--lightest: hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color: hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.12);

  /* Primary color shades */
  /*
  --md-primary-fg-color: hsla(#{hex2hsl($clr-indigo-500)}, 1);
  --md-primary-fg-color--light: hsla(#{hex2hsl($clr-indigo-300)}, 1);
  --md-primary-fg-color--dark: hsla(#{hex2hsl($clr-indigo-700)}, 1);
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color--light: var(--md-default-bg-color--light);
  */
  /* Accent color shades */
  /*
  --md-accent-fg-color: hsla(#{hex2hsl($clr-indigo-a200)}, 1);
  --md-accent-fg-color--transparent: hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
  --md-accent-bg-color: var(--md-default-bg-color);
  --md-accent-bg-color--light: var(--md-default-bg-color--light);
  */
  /* Code block color shades */
  --md-code-bg-color: hsla(163, 12%, 89%, 0.8);
  --md-code-fg-color: hsl(0, 9%, 4%);
}

.highlight code {
    --md-code-bg-color: hsla(297, 64%, 5%, 0.8);
    --md-code-fg-color: hsl(180, 100%, 100%);
}
