
a.md-logo
{
    padding-right: 0;
}

span.md-header-nav__title {
    padding-left: 0.1rem;
}

/**
 * Change the height (space)
 */

.md-content__inner:before {

    height: 0.1rem; /* was 0.8rem */
    /**
    display: block;
    content: "";
    */
}

/**
 * Removes the first h1
 */
.md-content__inner h1:first-of-type {
    display: none;
}

.md-typeset h1 {
    margin: 0 0 0 0;
}

.md-typeset h2 {
    margin: 1rem 0 1.6rem;
}


/**
 * Change the default hero template
 */
.md-header, .md-hero {
    /*background: linear-gradient(135deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.6) 60%, green);*/
}


[data-md-color-primary=light-green] .md-header, [data-md-color-primary=light-green] .md-hero {
   /* background: linear-gradient(135deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.6) 60%, green);*/
}


.md-hero--expand .md-hero__inner {
    margin-bottom: 0;
    margin-top: 0;
    /*background: rgba(0,0,0, 0.9);*/
    /*background: linear-gradient(to left, rgba(0,0,0, 0.1), #00bcd4 50%, #eee 75%, #333 75%);*/
    /*background: linear-gradient(13deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.1) 60%, rgba(0,0,0, 0.2));*/
    padding-top: 2.2rem;
    padding-bottom: 2.4rem;
}

@media only screen and (max-width: 76.1875em) {
    .md-hero__inner {
        padding-top: 2.2rem;
        margin-bottom: 0;
        padding-bottom: 2.4rem;
    }
}
