
a.md-logo
{
    padding-right: 0;
}

span.md-header-nav__title {
    padding-left: 0.1rem;
}

/**
 * Change the height (space)
 */

.md-content__inner:before {

    height: 0.1rem; /* was 0.8rem */
    /**
    display: block;
    content: "";
    */
}

/**
 * Removes the first h1
 */
.md-content__inner h1:first-of-type {
    display: none;
}

.md-typeset h1 {
    margin: 0 0 0 0;
}

.md-typeset h2 {
    margin: 1rem 0 1.6rem;
}

.md-typeset p {
    /*font-size: 1.6rem;*/
    line-height: 1.65em;
    -webkit-print-color-adjust: exact;
}

.md-typeset .md-typeset__table {
    width: 100%;
}

.md-typeset .md-typeset__table table:not([class]) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    border-radius: .2rem;
}

.md-typeset .md-typeset__table table {
    border-top: 1px solid rgba(0, 0, 0, .14) ;

}

.md-typeset .md-typeset__table table th {
    background-color: white;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .12) ;
}

.md-typeset .admonition, .md-typeset details {
    /*
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin: 1.8em 0;
    padding: 0 1.2rem;
    border-left: .4rem solid #448aff;
    border-radius: .2rem;
    font-size: 1.28rem;
    overflow: auto;
    */
}


.md-clipboard {
    background: rgba(255, 255, 255, 0.2);
}



.md-hero--expand .md-hero__inner {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2.2rem;
    padding-bottom: 2.4rem;
}

@media only screen and (max-width: 76.1875em) {

    .md-clipboard {
        background: transparent;
    }

    .md-hero__inner {
        padding-top: 2.2rem;
        margin-bottom: 0;
        padding-bottom: 2.4rem;
    }
}
